[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
websockets = "*"
uvicorn = "*"
fastapi = "*"
sqlalchemy = "*"
fastapi-utils = "*"
asyncpg = "*"
passlib = "*"
fastapi-jwt-auth = "*"
alembic = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
